.feed__featured-container {
  border-bottom: var(--var-border);
  padding: 2rem 0;
}

.feed__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 0px;
}

.feed__main__posts {
  grid-area: 1 / 1 / 2 / 2;
}
.feed-sidebar {
  grid-area: 1 / 2 / 2 / 3;
  max-width: 24rem;
  background-color: var(--var-bg-secondary);
  align-self: start;
  padding: 0.5rem 2rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  position: sticky;
  top: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.feed-sidebar__location {
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
}

.feed-sidebar__button {
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  background-color: var(--var-bg-tertiary);
  display: block;
  width: fit-content;
}

.feed-sidebar__button:hover {
  text-decoration: none;
  background-color: var(--var-bg-primary);
}
