@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --var-bg-primary: #071313;
  --var-bg-secondary: #050D0D;
  --var-bg-tertiary: #FF9E57;
  --var-bg-highlight: #6E57FF;
  --var-color-primary: #fff;
  --var-color-secondary: #BCEEE5;
  --var-color-tertiary: #276C6C;
  --var-border: 1px solid var(--var-color-secondary);

  background-color: var(--var-bg-primary);
  color: var(--var-color-primary);
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  display: inline;
}
a:hover {
  text-decoration: underline;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
